<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>button</title>
    <link rel="stylesheet" href="/build.css" media="screen">

    <style media="screen">
      button {
        text-align: center;
        display: block;
        background: #fff;
        border:none;
        margin:auto;
      }
    </style>
  </head>
  <body>

    <main class="ph5 mw7 mb7">

      <h1 class="f-subheadline">button-{{buttonID}}</h1>

      <button>
        <img src="/on.png" class="mw5" id="button-overlay"/>
        <img src="/off.png" class="mw5"/>
      </button>


      <h3>1. Grab the <a href="/">example code</a></h3>
      {{#jsbinLink}}
      <p class="mv4">
        <a href="{{.}}" target="_blank" class="link bg-black pa2 white bn">Launch in JSBin</a>
      </p>
      {{/jsbinLink}}

      <h3>2. Update to use your new button</h3>
      <pre class="bg-light-gray pa3"><code><strong class="rm">-</strong> const channel = pusher.subscribe('<strong class="rm">button</strong>')
<strong>+</strong> const channel = pusher.subscribe('<strong>button-{{buttonID}}</strong>')</code></pre>

    </main>

    <script type="text/javascript">

      var overlay = document.getElementById('button-overlay')
      var count = 0

      function post(url){
        var request = new XMLHttpRequest()
        request.open('POST', url, true)
        request.send()
      }

      var press = function(e){
        e.preventDefault()
        post(document.location.pathname + '/press/' + ++count)
        overlay.className = 'mw5 show'
      }

      var release = function(e){
        e.preventDefault()
        post(document.location.pathname + '/release/' + count)
        overlay.className = 'mw5'
      }


      var button = document.querySelector('button')

      button.addEventListener('mousedown', press, false)
      button.addEventListener('mouseup', release, false)
      button.addEventListener('touchstart', press, false)
      button.addEventListener('touchend', release, false)

    </script>

  </body>
</html>
