<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pusher Push Button</title>
    <link rel="stylesheet" href="build.css" media="screen">
  </head>
  <body class="ph5 mw8 mb6">

    <h3>
      <a href="http://button.pusher.io">button.pusher.io</a>
    </h3>

    <hr />

    <h1 class="f-subheadline">Pusher Push Button</h1>

    <hr />

    <main class="mw7">

      <h2 class="f2">We've put a button online, and want to see what you can make it do.</h2>

      <div style="text-align:center">
        <img src="off.svg" style="zoom:2"/>
      </div>

      <p class="f4">Show us something neat and we'll throw you a high-five<a href="#high-five-terms">*</a>.</p>

      <h2>Connect to the button</h2>

      <pre class="bg-light-gray pa3"><code>&lt;script src="https://js.pusher.com/3.0/pusher.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
var pusher = new Pusher('{{pusherKey}}', {cluster:'{{pusherCluster}}'})
var button = pusher.subscribe('button')

button.bind('press', function(data) {
  doSomethingNeat()
})
&lt;/script&gt;</code></pre>

      {{#jsbinLink}}
      <p class="mv4">
        <a href="{{.}}" target="_blank" class="link bg-black pa2 white bn">Open in JSBin</a>
      </p>
      {{/jsbinLink}}

      <h2>Make a virtual button</h2>

      <p>You're welcome to come and use our button, but if you want to test your creation with your own button, you can create a virtual one below:</p>

      <form method="post">
        <button class="link bg-black pa2 white bn">Create a virtual button</button>
      </form>

      <div id="high-five-terms">
        <p>
          <em>
            <strong>*</strong>High-fives may contain swag.
          </em>
        </p>
      </div>
    </main>


    <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
    <script type="text/javascript">

      var h1 = document.querySelector('h1')
      var img = document.querySelector('img')

      function press(){
        img.src = 'on.svg'
        h1.style.webkitFilter = h1.style.filter = 'blur(2px)'
      }

      function release(id){
        img.src = 'off.svg'
        h1.style.webkitFilter = h1.style.filter = ''
      }


      new Pusher('{{pusherKey}}', {cluster:'{{pusherCluster}}'})
        .subscribe('button')
          .bind('press', press)
          .bind('release', release)

    </script>
  </body>
</html>
