@import 'tachyons';

h1 {
  transition: .25s;
}

hr {
  border:none;
  height:0;
  border-bottom: 1px solid #555;
}


pre, code {
  overflow-x: scroll;
}


code strong {
  background: #BAE66C;
  font-weight:100;
}
code strong.rm {
  background: #FFB0B0
}

code script {
  display: block;
}

body {
  transition: background .2s
}

a {
  color: #000;
  background:aquamarine;
  text-decoration: none;
}


#high-five-terms {
  float:left;
  border-top: 1px solid aquamarine;
  margin-top: 3em;
}


#button-overlay {
  opacity: .001;
  position: absolute;
  transition: opacity .2s;
}

#button-overlay.show {
  opacity: 1;
}
